# Backend Environment Variables

# MongoDB Connection String
MONGO_URI=mongodb://mudassirmohammed0801_db_user:Mudassir69>@ac-ychfqap-shard-00-00.t8ibnfv.mongodb.net:27017,ac-ychfqap-shard-00-01.t8ibnfv.mongodb.net:27017,ac-ychfqap-shard-00-02.t8ibnfv.mongodb.net:27017/Routine?ssl=true&replicaSet=atlas-6czemk-shard-0&authSource=admin&appName=Cluster0
# JWT Secret Key (use a strong random string in production)
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Server Port
PORT=5000

# Node Environment
NODE_ENV=production
